{% load static %}
{% include 'cookies.html'  %}

<footer>
  <strong>&copy; Copyright {% now "Y" %}</strong>
  <strong>EGA Consortium</strong>


  {% if response %}
  <section>
    <input id="beacon-request-trigger" type="checkbox" />
    <label for="beacon-request-trigger">API request</label>
    <a id="beacon-request" href="{{ query_url }}">{{ query_url|safe }}</a>
  </section>

  <section>
    <input id="beacon-response-trigger" type="checkbox" />
    <label for="beacon-response-trigger">API response</label>
    <pre id="beacon-response">{{ response|pprint|safe }}</pre>
  </section>
  {% endif %}

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}">\x3C/script>')</script>

<script src="{% static 'js/beacon.js' %}"></script>

