{% load beacon %}
{% if request.session.oldResults %}
<aside>

  <h1>History
    <span>{{ request.session.oldResults|length }}</span>
  </h1>
  
  {% for r in request.session.oldResults %}
  <a href="{% url 'history' forloop.counter %}" data-count="{{ forloop.counter }}">
    <h2 class="response-{{ r.exists }}">[{{ r.formdata.assemblyId|stringformat:'s'|escape }}] {{ r.formdata.query|stringformat:'s'|escape }}</h2>
    <ul>
      {% for k,v in r.params.items %}
      <li>{{ k }}: {{ v }}</li>
      {% endfor %}
    </ul>
  </a>
  {% endfor %}
</aside>
{% endif %}
