<form id="query"
      action=""
      method="post"
      accept-charset="UTF-8"
      autocomplete="off"
      enctype="multipart/form-data"
      novalidate="">

      {% csrf_token %}
      
      {% if results.error or form.errors %}
      <section id="query-errors">
	{% if results.error %}
	<div class="error-{{ error.errorCode }}">
	  {{ results.error.message }}
	</div>
	{% endif %}

	{% for field in form %}
        {% for error in field.errors %}
	<div class="error-wrapper">
	  <h3>{{ field.name }}</h3>
	  <div>
	    {{ error|safe }}
	  </div>
	</div>
        {% endfor %}
	{% endfor %}

      </section>
      {% endif %}

      <fieldset id="query-search">
	{{ form.assemblyId }}
	<section>
	  {{ form.query }}
	  {{ form.query.label_tag }}
	</section>
	<button>
	  <i class="fas fa-search"></i>
	  Search
	</button>
      </fieldset>

      <fieldset id="include-dataset-responses">
	{{ form.includeDatasetResponses.label_tag }} {{ form.includeDatasetResponses }} 
      </fieldset>

    <fieldset id="query-datasets">
      <legend>Datasets</legend>
      <p><span>All</span> / <span>None</span></p>
      
      <section>
      {% for d in beacon.datasets %}
         {% if d.info.authorized %}
         <label>
	   <input type="checkbox" name="datasetIds" value="{{ d.id }}" {% if d.id in selected_datasets %}checked{% endif %}/>
	   {{ d.id }}{% if d.variantCount %} ({{ d.variantCount }} variant{{ d.variantCount|pluralize }}){% endif %}
	 </label>
	 {% else %}
	 <label class="dataset-not-authorized">
	   <input type="checkbox" disabled name="datasetIds" value="{{ d.id }}" />
	   {{ d.id }}
	 </label>
	 {% endif %}
      {% endfor %}
      </section>
    </fieldset>

</form>
