html {
  height: 100%;
}

body {
  min-height: 100%;
  height:100vh;

  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: $font-size-lg;
  color: #636363;
  line-height:1.4;

  header {
      margin:0;
      display:flex;
      
      width:1140px; margin:0 auto;

      align-items: center;
      flex-flow: row nowrap;
      justify-content: flex-start;
      
      a { display:inline-block; }
      img { width:180px; display:block; margin-right:2rem; }
      
      h1 { color:#1b5276; }
      
      nav {
	  margin-left: auto;
	  a, span { margin-right:1em }
      }
  }
  
}


