
main {
    grid-area: main;
    padding:0 1em;
    justify-content: stretch;
    min-width:800px; max-width:100%;

    span.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	
	&.label-registered { background-color: #f0ad4e; }
	&.label-public     { background-color: #5cb85c; }
	&.label-controlled { background-color: #d9534f; }
    }
    
    p { margin:0 0 1em 0; }

    section {
	display:flex;
	flex-flow: row no-wrap;
	align-items: flex-start;
	padding:0.5em 0;
	border-bottom:1px solid #ccc;
	max-width:100%;

	> p { margin:0; padding: 0 1em;
	      overflow: hidden; text-overflow: ellipsis;
	      white-space: nowrap;
	      flex:1;
	    }
	> a { display:inline-block; margin:0; padding:0; }

    }

}
