form#query {

    display:grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 2rem 8rem auto;
    grid-template-areas: "search search"
			 "include-responses include-responses"
                         "datasets filters"
                         "errors errors";
    justify-items: stretch;
    align-items:stretch;

    grid-gap:0 1rem;
    
    background-color: #f5f5f5;
    color:#333;

    box-sizing:border-box;
    width:100%;
    padding:1em;

    border-radius:1em;
    font-size:90%;

    margin:1em 0;

    fieldset {
        border-radius:0.5em;
	legend {
	    padding:0 1ex;
	}
    }

    /* #id_extended { */
    /* 	&:before { content: "Extended parameters"; display:inline-block; } */
    /* 	& ~ #simplifed-query { display:block; } */
    /* 	& ~ #extended-query { display:none; } */
	
    /* 	&:checked:before { content: "Simplified parameters"; display:inline-block; } */
    /* 	&:checked ~ #simplified-query { display:none; } */
    /* 	&:checked ~ #extended-query { display:block; } */
    /* } */

    #include-dataset-responses {
	grid-area: include-responses;
	border:0;

	display:flex;
	flex-flow:row nowrap;
	justify-content: center;
	align-items:center;
	
	section {
	    margin-left:1em;
	    label { margin-right:1em; }
	}

    }

    #query-search {
	grid-area:search;
	display: flex;
	flex-flow:row nowrap;
	justify-content: center;
	align-items:center;
	padding:1em 0;
	border:none;
	outline:none;

	select {
	    padding:0 1em;
	}
	section {
	    position:relative;
	    min-width:50%;
	    margin:0 1em;
	    
	    input {
		width:100%;
		box-sizing:border-box;
		display: block;
		padding: 0.5rem 1.6rem;
		border: 1px solid #DDDDDD;
		outline: none;
		border-radius: 0.4rem;
		background-color:white;
		text-align:center;
		font-size:1.5em;
		transition: box-shadow 200ms;
		&::placeholder { color: #222; }
		&:focus { border: 1px solid rgba(81, 203, 238, 1); box-shadow: 0 0 5px rgba(81, 203, 238, 1); }
	    }
	    label {
		display: block;
		position: absolute;
		top:-1.5em; left:0;
		width:100%; text-align:center;
		color: black;
		font-size:0.9em;

		opacity: 1;
		visibility: visible;
		transition: opacity 300ms,
		            visibility 0ms;

		font-style:italic;
		span { font-weight: bold; font-style:normal; }
	    }

	    input:placeholder-shown + label { opacity: 0; visibility: hidden; }

	}

	button {
	    padding:1ex;
	    cursor:pointer;
	    text-align: center;

	    color: white;
	    background-color: rgb(33, 150, 243);
	    outline: none;
	    border: 0;
	    border-radius: 3px;

	    user-select: none;
	    transition: box-shadow 0.2s;

	    &:hover {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	    }

	    &:active {
		position:relative; top:1px;
	    }
	}
    }

    #query-datasets {
	grid-area: datasets;
	display:block;
	position:relative;

	> p {
	    position:absolute; top:-1.3em; right:1em;
	    line-height:1em;
	    text-align:right; margin:0; padding:0;
	    background-color:#f5f5f5;
	    span {
		margin:0 0.5ex;
		cursor:pointer;
	    }
	}
	section {
	    overflow:auto;
	    max-height:100%;
	    box-sizing:border-box;
	    padding:0 1em 1em;
	    display:flex;
	    flex-direction:column;
	    justify-content:flex-start;

	    label {
		display: block; 
		order: 1;
		&.dataset-not-authorized { opacity: 0.5; text-decoration: line-through; order:2; }
	    }
	}
    }

    #query-filters {
	grid-area: filters;
	overflow:auto;
	padding-bottom:1rem;

	i { cursor:pointer; }
	i.filter-add { display:inline-block; }

	section {
	    margin-bottom:0.5em;
	
	    input { 
		width:90%;
		box-sizing:border-box;
		padding: .3em 1em;
		border: 1px solid #DDDDDD;
		outline: none;
		
		transition: box-shadow 200ms;
		&::placeholder { color: #222; }
		&:focus { box-shadow: 0 0 5px rgba(81, 203, 238, 1); }
	    }
	}
    }

    #query-errors {
	grid-area: errors;
	width:60%; margin:0 auto;
	div.error-wrapper {
	    
	    display:flex;
	    flex-flow: row nowrap;
	    margin:1rem 0;
	    border-radius:1em;
	    background-color: #FFBABA;
	    color:black;

	    h3 {
		color:black;
		padding:1em; margin:0; line-height:1em;
	    }

	    code {
		background-color: #e98a8a;
		display:inline-block;
		padding:3px 1ex;
		border-radius:3px;
	    }
	    
	    span.query-form {
		font-variant:small-caps;
		font-weight:bold;
		background-color: #c2c2ff;
		display:inline-block;
		padding:0 1ex;
		border-radius:3px;
		color:black;
		margin-right:1ex; margin-bottom:3px;
		min-width:7.5em;
		text-align:right;
	    }

	}
    }


}

